.btn {
  mix-blend-mode: normal;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  font-style: normal;
  font-weight: normal;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  &:focus {

  }
}

.btn__primary {
  background-color: #00a523;
  &:active, &.btn--pressed {
    background: #94e264;
    transition: 0.3s;
  }
}

.btn__secondary {
  background-color: rgba(0, 0, 0, 0.5);
  &:active, &.btn--pressed {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
  }
}

.btn__red {
  background-color: #db2c2c;
  &:active, &.btn--pressed {
    background-color: lighten(red, 20%);
    transition: 0.3s;
  }
}

.btn__active {
  border: 1px solid #64e265 !important;
  color: #94e264;
}

.btn__lg {
  min-width: 255px;
  width: 255px;
  height: 80px;
  font-size: 24px;
  line-height: 30px;
}

.btn__block {
  min-width: 182px;
  width: 182px;
  height: 80px;
  font-size: 24px;
  line-height: 30px;
}

.btn__square {
  min-width: 88px;
  width: 88px;
  height: 80px;
  font-size: 32px;
  line-height: 40px;
  box-shadow: none;
}

.btn__circle {
  min-width: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 32px;
  line-height: 40px;
  box-shadow: none;
}

.btn__lg.btn__block {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.btn__secondary.btn__lg,
.btn__secondary.btn__square {
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.btn__secondary.btn__lg.btn__frame {
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: inline-grid;
}

.btn.btn__open-panel {
  width: 328px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
