.channels-menu {
  flex: 1 0 auto;
  display: grid;
  grid-template: repeat(3, minmax(76px, 112px)) / repeat(5,minmax(106px, 158px));
  gap: 15.82px;
  align-content: center;
  justify-content: center;
  padding: 19px;
  &__item {
    border: 2px solid rgba(255, 255, 255, 0.1) !important;
    img {
      max-width: 85%;
      max-height: 70%;
    }
  }
}
