.disconnect {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__heading {
    font-size: 42px;
    line-height: 56px;
    color: #ffffff;
  }
  &__btn {
    display: flex;
    .btn__primary {
      margin-right: 32px;
    }
  }
}
