footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25.45px 0 30.04px;
  height: 84px;
  background: #030021;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  

  .sound-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 50px;

    a {
      width: 31px;
      height: 27.5px;
    }
    img {
      opacity: 0.3;
      width: 31px;
      height: 27.5px;
    }
    .sound-nav__text-frame {
      font-size: 16px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.6);
      display: none;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    .record {
      position: relative;
      width: 35px;
      height: 35px;
      margin-right: 8px;
      img {
        position: absolute;
      }

      &__on {
        visibility: hidden;
      }
    }
    .time {
      font-size: 18px;
      line-height: 23px;
      color: #ffffff;
      opacity: 0.4;
      margin-right: 40px;
    }

    .question {
      mix-blend-mode: normal;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding: 0 29.12px 0 27.36px;
      margin-right: 25.8px;
    }
  }
}
