header {
  display: flex;
  justify-content: flex-end;
  padding: 26px 66px 0 45px;
  flex: 0 0 auto;
  z-index: 1;
  grid-area: header;
  position: sticky;
  top: 0;

  .date,
  .mobile-date,
  .bkc__text {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .mobile-date {
    display: none;
  }

  .bkc {
    display: flex;
    align-items: center;
    position: absolute;
    left: 45px;
    visibility: hidden;
    &__icon {
      width: 10px;
      height: 10px;
      margin-right: 7.5px;
    }
  }

  .return {
    position: absolute;
    left: 45px;
    visibility: hidden;
    &__icon {
      width: 31.34px;
      height: 20.5px;
    }
  }
}
