
@media (min-width: 1200px) and (min-height: 100vh) {
  .number-nav {
    justify-content: center;
  }
}

@media (min-height: 800px)  {
  .speed-dial.classrooms-speed-dial {
    justify-content: center;
  }
  .screen-nav {
    justify-content: center;
  }
}

@media (max-width: 1023px) {
  .meeting-room {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .classrooms {
      margin: 0 0 48px 0;

      .call-nav__number {
        width: 224px;
        position: absolute;
        bottom: 90%;
      }

      .btn.btn__circle.call-nav__menu-btn {
        min-width: 80px !important;
        width: 80px !important;
        height: 80px !important;
        margin: 0 8px 0 8px;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .screen-nav {
        margin: 0;

        .camera {
          display: none;
        }

        .screen {
          .btn {
            margin: 0;
          }

          &__subtitle {
            display: none;
          }
        }
      }
    }

    .number__output,
    .btn {
      font-size: 22px;
      line-height: 26px;
      opacity: 1;
    }

    .btn__block.mobile-btn-left,
    .btn__block.mobile-btn-right {
      min-width: 156px;
      width: 156px;
      height: 64px;
      position: absolute;
      bottom: 28px;
      margin: 0;
    }

    .btn__block.mobile-btn-left {
      left: 25%;
    }

    .btn__block.mobile-btn-right {
      right: 25%;
    }

    .btn.btn__primary.btn__circle,
    .btn.btn__secondary.btn__circle {
      width: 64px;
      min-width: 64px;
      height: 64px;
      border: 2px solid rgba(255, 255, 255, 0.3);
    }
  }
}

@media (max-width: 640px) {
  .meeting-room .btn__block.mobile-btn-left {
    left: 16px;
  }

  .meeting-room .btn__block.mobile-btn-right {
    right: 16px;
  }
}

@media (max-width: 767px) and (max-height: 700px) {
  .demonstration-tv {
    padding: 48px 24px 48px 24px;
  }
}

@media (max-width: 767px) and (max-height: 640px) {
  .demonstration-tv {
    padding: 10px;
  }
}

@media (max-width: 767px) and (max-height: 100vh) {
  header {
    .date {
      display: none;
    }
    .mobile-date {
      display: block;
    }
  }

  footer {
    height: 64px;
    padding: 0 31px 0 31px;
    .sound-nav {
      width: 100%;
      margin: 0;
      input {
        width: 100%;
        max-width: 100%;
      }
      .sound-nav-max {
        display: none;
      }
    }
    .navigation {
      display: none;
    }
  }

  .btn.btn__primary.btn__lg,
  .btn.btn__secondary.btn__lg {
    width: 90%;
    max-width: 343px;
    height: 64px;
  }
  
  .demonstration-tv {
    padding: 24px;
    .demonstration-tv__heading {
      font-size: 32px;
      line-height: 40px;
    }
    .tv-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
      .tv-nav__item {
        margin: 8px 0 8px 0;
        width: 90%;
        max-width: 343px;
        .btn {
          width: 100%;
          min-width: 100%;
          height: 64px;
          margin: 0;
        }
        .menu-bkc {
          left: 50%;
          bottom: 100px;
          transform: translate(-50%, -50%);
          visibility: hidden;
        }
        .menu-tv {
          left: 50%;
          bottom: 20px;
          transform: translate(-50%, -50%);
        }
      }
      .tv-nav__item-apple {
        display: none;
      }
      .tv-nav__item-bkc {
        order: 2;
      }
      .tv-nav__item-tv {
        order: 1;
        .menu-tv {
          visibility: visible;
        }
      }
      .tv-nav__item-mobile-btn {
        display: block;
        order: 3;
      }
    }
  }
  .number-nav {
    padding: 10px;
    justify-content: center;
    .speed-dial {
      margin-left: 0;
      margin-right: 5%;
      &__item {
        width: 170px;
        height: 64px;
      }
    }
    .number-input {
      width: 224px;
      height: 304px;
    }

    
  }

  .screen-nav.-conversation {
    display: none;
  }
  .conversation-nav {
    position: relative;

    .conversation-menu {
      width: 100%;
      justify-content: space-around;
      .btn__circle {
        width: 100px;
        min-width: 100px;
        height: 100px;
      }
    }
    
    .btn__block {
      width: 156px;
      min-width: auto;
      height: 64px;
    }
    .microphone__column {
      position: static;
      margin: 0;
      .microphone__column-btn-keyboard {
        left: 50%;
        bottom: 0;
        top: auto;
        transform: translate(-50%, -50%);
      }
      .btn__circle.microphone__column-btn-keyboard {
        min-width: 64px;
        width: 64px;
        height: 64px;
      }
    }
  }

  .section {
    .section__title {
      font-size: 32px;
      line-height: 40px;
    }

    .section__item {
      width: 100%;
      flex-direction: column;
      align-items: center;
      .btn__lg {
        margin: 0;
      }
      .btn__disconnect {
        margin-bottom: 24px;
      }
    }
    .section__item-error {
      font-size: 48px;
    }
    .section__item.time {
      font-size: 120px;
    }
    .section__list {
      padding: 20px;
      font-size: 14px;
    }
    .section__list-item br {
      display: none;
    }
    .section-instruction {
      .section__title {
        font-size: 28px;
      }
      li {
        padding: 10px 0 10px 10px !important;
      }
    }
  }
  .section.pin-code {
    padding-bottom: 80px;
  }
  .number-input.pin-code__number-input {
    width: 224px;
    height: 304px;
  }
  .audio-input,
  .audio-output {
    width: 40% !important;
    .audio__title {
      font-size: 18px !important;
    }
    .audio__item-subtitle {
      font-size: 14px !important;
    }
  }
}

@media all and (max-width: 414px) {
  .demonstration-tv__heading {
    margin-bottom: 106px;
  }

  .speed-dial__heading.classrooms__sped-dial-heading {
    margin-bottom: 24px;
  }
}

@media all and (min-width: 600px) and (max-width: 812px) and (max-height: 414px) {
  .demonstration-tv__heading {
    margin-bottom: 130px;
  }

  .meeting-room .call-nav .call-nav__menu {
    padding-bottom: 100px;
  }

  .frame + .btn__frame {
    margin: 0 auto;
    display: block !important;
  }
}

@media (max-width: 767px) and (max-height: 650px) {
  .conversation-nav {
    align-items: flex-start;
    padding-top: 40px;
  }
  .demonstration-tv {
    padding: 0;
  }
}

@media (max-width: 640px) and (max-height: 100vh) {
  .btn__block.mobile-btn-left {
    left: 16px;
  }
  .btn__block.mobile-btn-right {
    right: 16px;
  }

  .channels-menu {
    grid-template: repeat(8, 76px) / repeat(3, 106px);
    gap: 10px;
  }
}

@media (max-width: 640px) and (max-height: 700px) {
  .classrooms {
    margin: 0 0 15px 0 !important;
  }

  .btn__block.mobile-btn-left,
  .btn__block.mobile-btn-right {
    bottom: 15px;
  }

  .channels-menu {
    grid-template: repeat(6, 76px) / repeat(3, 106px);
  }
}

@media (max-width: 500px) and (max-height: 100vh) {
  .number-nav {
    flex-direction: column;
    justify-content: space-around;
    .speed-dial {
        margin: 0;
      &__heading {
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) and (max-height: 812px) {
  .meeting-room {
    justify-content: flex-start;
  }
}

@media (max-width: 1023px) {
  .number-nav {
    margin-left: 0;
  }

  .speed-dial {
    display: none;
  }
}
