@media (min-width: 1200px) and (min-height: 100vh) {
  .number-nav {
    justify-content: center;
    .speed-dial {
      margin-left: 0;
    }
  }
}

@media (min-width: 1200px) and (min-height: 900px) {
  .number-nav {
    align-items: center;
  }
}

@media (max-width: 850px) and (max-height: 100vh) {
  .meeting-room {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .classrooms {
      margin: 0 0 48px 0;
      .rooms {
        display: none;
      }
      .speed-dial.classrooms-speed-dial {
        display: none;
      }
      .number-input.classrooms__number-input {
        display: flex;
        margin: 0;
        width: 224px;
        height: 304px;

        .btn__circle {
          width: 64px;
          min-width: 64px;
          height: 64px;
          border: 2px solid rgba(255, 255, 255, 0.3);
        }

        .number-input__item-disabled {
          display: none;
        }

        .mobile-number-input__item {
          display: flex;
        }
      }
    }

    .call-nav__number {
      width: 224px;
      position: absolute;
      bottom: 90%;
    }

    .btn.btn__circle.call-nav__menu-btn {
      min-width: 64px !important;
      width: 64px !important;
      height: 64px !important;
      margin: 0 8px 0 8px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .screen-nav {
      margin: 0;
      .camera {
        display: none;
      }
      .screen {
        .btn {
          margin: 0;
        }
        &__subtitle {
          display: none;
        }
      }
    }
  }
  .number__output,
  .btn {
    font-size: 22px;
    line-height: 26px;
  }

  .btn__block.mobile-btn-left,
  .btn__block.mobile-btn-right {
    min-width: 156px;
    width: 156px;
    height: 64px;
    position: absolute;
    bottom: 28px;
  }

  .btn__block.mobile-btn-left {
    left: 25%;
  }
  .btn__block.mobile-btn-right {
    right: 25%;
  }

  .microphone__column-btn-keyboard {
    left: 50%;
    top: -50px !important;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) and (max-height: 700px) {
  .demonstration-tv {
    padding: 48px 24px 48px 24px;
  }
}

@media (max-width: 768px) and (max-height: 640px) {
  .demonstration-tv {
    padding: 10px;
  }
}

@media (max-width: 768px) and (max-height: 100vh) {
  header {
    .date {
      display: none;
    }
    .mobile-date {
      display: block;
    }
  }

  footer {
    height: 64px;
    padding: 0 31px 0 31px;
    .sound-nav {
      width: 100%;
      margin: 0;
      input {
        width: 100%;
        max-width: 100%;
      }
      .sound-nav-max {
        display: none;
      }
    }
    .navigation {
      display: none;
    }
  }

  .btn.btn__primary.btn__lg,
  .btn.btn__secondary.btn__lg {
    width: 90%;
    max-width: 343px;
    height: 64px;
  }
  .btn.btn__primary.btn__circle,
  .btn.btn__secondary.btn__circle {
    width: 64px;
    min-width: 64px;
    height: 64px;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
  .demonstration-tv {
    padding: 24px;
    .demonstration-tv__heading {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 106px;
    }
    .tv-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
      .tv-nav__item {
        margin: 8px 0 8px 0;
        width: 90%;
        max-width: 343px;
        .btn {
          width: 100%;
          min-width: 100%;
          height: 64px;
          margin: 0;
        }
        .menu-bkc {
          left: 50%;
          bottom: 100px;
          transform: translate(-50%, -50%);
          visibility: hidden;
        }
        .menu-tv {
          left: 50%;
          bottom: 20px;
          transform: translate(-50%, -50%);
        }
      }
      .tv-nav__item-apple {
        display: none;
      }
      .tv-nav__item-bkc {
        order: 2;
      }
      .tv-nav__item-tv {
        order: 1;
        .menu-tv {
          visibility: visible;
        }
      }
      .tv-nav__item-mobile-btn {
        display: block;
        order: 3;
      }
    }
  }
  .number-nav {
    padding: 10px;
    justify-content: center;
    .speed-dial {
      margin-left: 0;
      margin-right: 5%;
      &__item {
        width: 170px;
        height: 64px;
      }
    }
    .number-input {
      width: 224px;
      height: 304px;
    }

    .speed-dial__item,
    .number__output,
    .btn__circle {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .screen-nav.conversation-nav-screen-nav {
    display: none;
  }
  .conversation-nav {
    position: relative;
    overflow-x: hidden;

    .conversation-menu {
      width: 100%;
      justify-content: space-around;
    }
    .btn__circle {
      width: 100px !important;
      min-width: 100px !important;
      height: 100px !important;
    }
    .btn__block {
      width: 156px;
      min-width: auto;
      height: 64px;
    }
    .microphone__column {
      position: static;
      margin: 0;
      .microphone__column-btn-keyboard {
        left: 50%;
        top: auto;
        bottom: -20px;
        transform: translate(-50%, -50%);
      }
    }
  }

  .section {
    .section__title {
      font-size: 32px;
      line-height: 40px;
    }

    .section__item {
      width: 100%;
      flex-direction: column;
      align-items: center;
      .btn__lg {
        margin: 0;
      }
      .btn__disconnect {
        margin-bottom: 24px;
      }
    }
    .section__item-error {
      font-size: 48px;
    }
    .section__item.time {
      font-size: 120px;
    }
    .section__list {
      padding: 20px;
      font-size: 14px;
    }
    .section__list-item br {
      display: none;
    }
    .section-instruction {
      .section__title {
        font-size: 28px;
      }
      li {
        padding: 10px 0 10px 10px !important;
      }
    }
  }
  .section.pin-code {
    padding-bottom: 80px;
  }
  .number-input.pin-code__number-input {
    width: 224px;
    height: 304px;
  }
  .audio-input,
  .audio-output {
    width: 40% !important;
    .audio__title {
      font-size: 18px !important;
    }
    .audio__item-subtitle {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 768px) and (max-height: 650px) {
  .conversation-nav {
    align-items: flex-start;
    padding-top: 40px;
  }
  .demonstration-tv {
    padding: 0;
  }
}

@media (max-width: 640px) and (max-height: 100vh) {
  .btn__block.mobile-btn-left {
    left: 16px;
  }
  .btn__block.mobile-btn-right {
    right: 16px;
  }

  .channels-menu {
    grid-template: repeat(8, 76px) / repeat(3, 106px);
    gap: 10px;
  }
}

@media (max-width: 640px) and (max-height: 700px) {
  .classrooms {
    margin: 0 0 15px 0 !important;
  }

  .btn__block.mobile-btn-left,
  .btn__block.mobile-btn-right {
    bottom: 15px;
  }

  .channels-menu {
    grid-template: repeat(6, 76px) / repeat(3, 106px);
  }
}

@media (max-width: 500px) and (max-height: 100vh) {
  .number-nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .speed-dial {
      &__heading {
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) and (max-height: 700px) {
  .speed-dial {
    display: none;
  }
}
