.meeting-room {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 0 22px 0;
  .classrooms {
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    .rooms {
      position: relative;
      height: 34px;
      .rooms__number-input_exit{
        position: absolute;
        left: 0;
        visibility: hidden;
      }
    }
  }

  .call-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 30px 8px;

    .call-nav__menu {
      display: flex;
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 107.46;
        height: 107.46;
        border: 2px solid rgba(239, 239, 239, 0.1);
        &.btn__red {
          background-color: red;
          &:hover {
            background-color: lighten(red, 20%);
            transition: 0.3s;
          }
        }
        &.btn__secondary.btn__circle.btn__active {
          margin: 0 20.54px 0 20.54px;
        }

        &.btn__circle.call-nav__menu-btn {
          min-width: 107.5px;
          width: 107.5px;
          height: 107.5px;
        }
        

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .btn {
    border: 2px solid rgba(239, 239, 239, 0.1);
  }
}
