.section {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.disconnect {
    justify-content: space-around;
  }  
  &__title {
    font-size: 42px;
    line-height: 56px;
  }
  &__item {
    display: flex;
    .btn__disconnect {
      margin-right: 32px;
    }
  }
}

