footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25.45px 0 30.04px;
  height: 84px;
  background: #030021;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;

  .sound-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    input {
      width: 100%;
      max-width: 336px;
      height: 2px;
      margin: 0 29.94px 0 23.54px;
    }

    input[type="range"] {
      -webkit-appearance: none;
      outline: none;
      background: transparent;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 2px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2);
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 26px;
      width: 26px;
      border-radius: 50%;
      background: #afb3bf;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-top: -12px;
      outline: none;
    }

    input[type="range"]::-moz-range-track {
      height: 2px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2);
    }

    input[type="range"]::-moz-range-thumb {
      height: 26px;
      width: 26px;
      border-radius: 50%;
      background: #afb3bf;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-top: -12px;
      outline: none;
    }

    input[type="range"]::-moz-range-progress {
      background: rgba(255, 255, 255, 0.5);
      height: 2px;
    }

    input[type="range"]::-ms-track {
      height: 2px;
      background: rgba(255, 255, 255, 0.5);
      border-color: transparent;
      border-width: 6px 0;
      color: transparent;
    }

    input[type="range"]::-ms-thumb {
      border: none;
      height: 26px;
      width: 26px;
      border-radius: 50%;
      background: #afb3bf;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-top: -12px;
      outline: none;
    }

    a {
      width: 31px;
      height: 27.5px;
    }
    img {
      opacity: 0.3;
      width: 31px;
      height: 27.5px;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    .record {
      position: relative;
      width: 35px;
      height: 35px;
      margin-right: 8px;
      img {
        position: absolute;
      }

      &__on {
        visibility: hidden;
      }
    }
    .time {
      font-size: 18px;
      line-height: 23px;
      color: #ffffff;
      opacity: 0.4;
      margin-right: 40px;
    }

    .question {
      mix-blend-mode: normal;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding: 0 29.12px 0 27.36px;
      margin-right: 25.8px;
    }
  }
}
