$font-stack: "Arial", "Helvetica", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// подключаем все необходимые блоки
@import "./blocks/header";
@import "./blocks/demonstration-tv";
@import "./blocks/number-nav";
@import "./blocks/speed-dial";
@import "./blocks/number";
@import "./blocks/number-input";
@import "./blocks/meeting-room";
@import "./blocks/screen-nav";
@import "./blocks/conversation-nav";
@import "./blocks/section";
@import "./blocks/channels";
@import "./blocks/frame";
@import "./blocks/input-range";
@import "./blocks/footer";
@import "./blocks/button";
@import "./blocks/pin-code";
@import "./blocks/qr";
@import "./blocks/media";

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ArialRegular.ttf);
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/HelveticaRegular.ttf);
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-stack;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #ffffff;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 84px 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

@media all and (max-width: 767px) {
  body {
    grid-template-rows: 64px 1fr auto;
  }
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  overflow: hidden;
  overflow-y: auto;
}

@media all and (max-width: 414px) {
  main {
    padding: 0;
  }
}

@media all and (max-height: 414px) and (max-width: 812px) and (orientation: landscape) {
  main {
    display: block;
  }
}

.v-scroll {
  overflow-y: auto;
}

svg.icon {
  fill: #ffffff;
}

.hidden {
  visibility: hidden;
}
