$font-stack: "Arial", "Helvetica", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// подключаем все необходимые блоки
@import "./blocks/wrapper";
@import "./blocks/header";
@import "./blocks/flex-center";
@import "./blocks/open-panel";
@import "./blocks/demonstration-tv";
@import "./blocks/number-nav";
@import "./blocks/speed-dial";
@import "./blocks/number";
@import "./blocks/number-input";
@import "./blocks/meeting-room";
@import "./blocks/screen-nav";
@import "./blocks/conversation-nav";
@import "./blocks/section";
@import "./blocks/channels";
@import "./blocks/frame";
@import "./blocks/input-range";
@import "./blocks/footer";
@import "./blocks/button";
@import "./blocks/pin-code";
@import "./blocks/qr";
@import "./blocks/media";

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ArialRegular.ttf);
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/HelveticaRegular.ttf);
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-stack;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: #ffffff;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 84px 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg.icon {
  fill: #ffffff;
}

.hidden {
  visibility: hidden;
}
